@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DotGothic16&display=swap');


@keyframes rotacao {

  from{
    transform:rotateX(0deg);
  }
  to{
    transform: rotateX(360deg);
  }

}

@keyframes subir {

  0%{
    transform:translateY(0);

  }
  50%{

    transform:translateY(-4px);
  }
  100%{

    transform:translateY(0);
  }

}

@keyframes fade {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes navFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2c2c2c;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

header{
  padding: 0 4vw;
  height: 60px;
  width: 92vw;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
}

#nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5vw;
}
#x{
  display: none;
  font-size: 1.2em;
}
#x, #sandwich{
  position: absolute;
  color: #ffffff;
}

.nav-items, .logo{
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1em;
}

section{
  transform: translateY(-10vh);
  height: calc(100vh - 40px);
  width:calc(100% - 50px);
  padding: 70px 25px 0 25px;
  position: relative;
  animation: fade .7s ease-in;
  animation-fill-mode: forwards;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobile-menu{
  color: #2c2c2c;
  cursor: pointer;
  display: none;
  font-size: 1.4em;
  align-items: center;
  justify-content: start;
  width: .7em;
  height: 1em;
}

p{
  text-align: justify;
}

p > a{
  color: #FFD921;
  text-decoration: none;
}

p > a:hover{
  color: #FFE151; 
}

@media (max-width:850px) {
  #nav-list{
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 4;
    background-color: #FFD921;
    
    flex-direction: column;
    height:300px;
    width: 30vw;
    min-width: 150px;
    justify-content: space-around;
    transform: translateX(101%);
    transition: transform .3s ease-in;
  }
  .nav-items{
    color: #2c2c2c;
  }
  #nav-list li{
    opacity: 0;
  }

  #mobile-menu{
    display: flex;
    margin-right: 12vw;
  }

  #icone-menu{
  margin-left: 10vw;
  }
}
@media (max-width:500px) {
  #mobile-menu{
    margin-right: 60px;
  } 
}
#nav-list.active{
    transform: translateX(-14px);
}
#nav-list.active li{
  opacity: 1;
  animation: navFade 0.3s ease backwards .3s;
}
#mobile-menu.active i#x{
  display: block;
  transition: display .5s ease;
}
#mobile-menu.active i#sandwich{
  display: none;
  transition: display .5s ease;
}